@tailwind base;

/* Write your own custom base styles here */
html, body{
	background-color: #12171c;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

.admin:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 5px;
  right: 5px;
  background-image: url("/evolution-clans/img/admin.svg");
  background-size: contain;
}

/* knights */
.knights {
	background-image: url("/evolution-clans/img/pvp.png");
  background-size: 30%;
}

/* renegades/fatebringers */
.renegades,
.fatebringers {
  background-image: url("/evolution-clans/img/raid.png");
  background-size: 30%;
}

/* Strom */
.storm {
  background-image: url("/evolution-clans/img/nightfall.png");
  background-size: 30%;
}

/* outlaws/warminds */
.outlaws,
.warminds {
  background-image: url("/evolution-clans/img/traveler.png");
  background-size: 30%;
}



/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
