html, body{
	background-color: #12171c;
}

.admin{
  @apply border border-yellow;
}

.admin:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 5px;
  right: 5px;
  background-image: url("/img/admin.svg");
  background-size: contain;
}

/* knights */
.knights {
	background-image: url("/img/pvp.png");
  background-size: contain;
}

/* renegades/fatebringers */
.renegades,
.fatebringers {
  background-image: url("/img/raid.png");
  background-size: contain;
}

/* Strom */
.storm {
  background-image: url("/img/nightfall.png");
  background-size: contain;
}

/* outlaws/warminds */
.outlaws,
.warminds {
  background-image: url("/img/traveler.png");
  background-size: contain;
}

